body {
    font-size: .875rem;
  }

  .feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }

  /*
   * Sidebar
   */

  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }

  @media (max-width: 767.98px) {
    .sidebar {
      top: 5rem;
    }
  }

  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }

  @supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
      position: -webkit-sticky;
      position: sticky;
    }
  }

  .sidebar .nav-link {
    font-weight: 500;
    color: #333;
  }

  .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
  }

  .sidebar .nav-link.active {
    color: #007bff;
  }

  .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
    color: inherit;
  }

  .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
  }

  /*
   * Navbar
   */

  .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  }

  .navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
  }

  .navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
  }

  .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
  }

  .form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
  }
.container{
    max-width: 1500px !important;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #495057;
    background-color:transparent !important;
    border-bottom: 2px solid #f9826c !important;
    font-weight: bold !important;
}
.nav-tabs .nav-link {
    border: 0px solid transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    /*border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;*/
}
.card-header {

    background-color:transparent !important;

}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0 !important;
}
.custom-upload-btn{
    -webkit-appearance: none;
cursor: pointer;
font-size: 1em;
outline: none;
margin: 0;
    margin-right: 0px;
border: 0 none;
white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
letter-spacing: inherit;
display: inline-block;
height: 35px;
margin-right: 10px;
line-height: 33px;
border-radius: 17.5px;
background-color: transparent;
border: 1px solid #d9d9d9;
color: #8c8c8c;
padding: 0 20px;
text-align: center;
-webkit-transition: color .2s linear,border-color .2s linear,background-color .2s linear;
transition: color .2s linear,border-color .2s linear,background-color .2s linear;
}
.custom-upload-btn:hover{
    border-color: #262626;
    color: #262626;
}
.custom-card{

    margin-bottom: 5px;
}
div.image_div a {
    cursor: pointer;
 }
.active_image {
    border: 3px solid #262626;
 }


.page-stat-form{
    float: right;
}
  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 20px;
  }

  .switch input {display:none;}

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #D84315;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
  }

  input:checked + .slider {
    background-color: #38c172;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #38c172;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(28px);
    -ms-transform: translateX(28px);
    transform: translateX(28px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 28px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  .box {
    margin: 25px;
    border: 1px solid #ccc;
    width: 300px;
    padding: 0px 30px 30px 30px;
    background-color: white;
  }

  h2 {
    padding-bottom: 25px;
  }

  .switch .btn {
    border-radius: 14px;
    border: none;
    padding: 5px 15px 5px 15px;
    font-size: 16px;
  }

  .switch .btn {
    border-radius: 14px;
    border: none;
  }


/*
Image upload module section
04-08-2021
Moved from admin/layouts/partials/imagesuploadsection.blade.php
*/
.square {
    position: relative;
    width: 140px;
    height: 140px;
    overflow: hidden;
}

#uploadedimages img {
    position: absolute !important;
    width: 100%;
    height: auto;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}

#uploadedimages img.landscape {
    height: 100%;
    width: auto;
}

#uploadedimages .upload-img-thumbnail {
    padding: 0.25rem;
    background-color: #f8fafc;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    height: auto;
}
